name: "CI"
on:
  pull_request:
  push:
jobs:
  tests:
    runs-on: [ ubuntu-20.04, macos-11 ]
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: cachix/install-nix-action@v15
      with:
        extra_nix_config: "system-features = nixos-test benchmark big-parallel kvm"
    - run: nix build
    - run: nix flake check
